mkdocs
mkdocs-material
pymdown-extensions
mkdocs-macros-plugin
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-kroki-plugin
mkdocs-wikilinks-plugin
mkdocs-obsidian-support-plugin
mkdocs-git-revision-date-localized-plugin

mkdocs-callouts
mkdocs-obsidian-bridge
#mkdocs-obsidian-interactive-graph-plugin
overrides
#mkdocs-gen-files 
#mkdocs-literate-nav
markdown-exec[ansi]