/* Heading màu sắc riêng */
.md-typeset h1 {
  color: #b22252; /* hồng */
  font-weight: bold;
}

.md-typeset h2 {
  color: #3f8fff; /* xanh indigo */
}

.md-typeset h3 {
  color: #009688; /* teal */
}

 .md-typeset h4 {
  color: #c75e3e; 
}
/*
.md-typeset h5 {
  color: #795548; 
}

.md-typeset h6 {
  color: #607d8b; 
} */



.bar-list ul {
  list-style: none;
  padding: 0;
}
.bar-list li {
  background: var(--md-code-bg-color);
  margin: 0.5rem 0;
  padding: 1rem;
  border-left: 6px solid var(--md-primary-fg-color);
  border-radius: 6px;
  transition: 0.2s;
}
.bar-list li:hover {
  transform: translateX(5px);
  background: var(--md-default-bg-color--lighter, #f5f5f5);
}

/* .md-post__cover {
  text-align: center;
  margin-bottom: 1.5rem;
}
.md-post__cover img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  transition: transform 0.2s ease;
}
.md-post__cover img:hover {
  transform: scale(1.42);
} */

/* .md-post__cover {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.md-post__cover a {
  display: block;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 24px rgba(0,0,0,0.15);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.md-post__cover a:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

.md-post__cover img {
  width: 100%;
  height: auto;
  display: block;
} */


